{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% include './partials/estilos.html' %}        
    <title>IndustryCare System</title>
  </head>
  <body class="container-fluid">
    <main class="row">
      <div class="d-block">
        <div class="row margin-box-login justify-content-center">          
          <div class="col-3 py-3 color-border border border-1 rounded shadow-lg">
            <div class="form-group my-2">
              <label>Email address</label>
              <input id="email" type="email" class="form-control" placeholder="Digite o e-mail">
            </div>
            <div class="form-group my-2">
              <label>Password</label>
              <input id="password" type="password" class="form-control" placeholder="Password">
            </div>            
            <div class="d-flex">
              <button type="submit" class="btn btn-primary" onclick="login()">Submit</button>
            </div>
            <a href="/login/esqueceu-senha/">Esqueceu a senha?</a>
            <br/>
            <a href="/login/cadastro/">Ainda não é cadastrado?</a>
          </div>                              
        </div>        
        <div class="row">
          <div class="col-4 offset-4">
            <div id="campos-vazios" class="alert alert-warning my-3" role="alert">
            Preencha os campos!!
            </div>
            <div id="email-n-existe" class="alert alert-danger my-3" role="alert">
              Preencha os campos!!
            </div>
          </div>
        </div>
      </div>      
    </main>
  </body>  
  <script>

    $(function() {
      $("#campos-vazios").hide()
      $("#email-n-existe").hide()      
    });

    let login = () => { 

      let email = $("#email").val()
      let password = $("#password").val()

      if((email.length <= 0) || (password.length <= 0)) {
        $("#campos-vazios").show()
        return
      }

      $.ajax({
        url: "/validacao/dados/",					
        data: {
          'email': email,
          'password': password,						
          'csrfmiddlewaretoken': '{{ csrf_token }}',
      },type: "POST",
        success: function(result){
          alert("Dados alterados")
        } 
      });

		}
  </script>
</html>